---
import newsLogo01 from "@images/icons/company-logos/newsLogo01.svg?raw";
import newsLogo02 from "@images/icons/company-logos/newsLogo02.svg?raw";
import newsLogo03 from "@images/icons/company-logos/newsLogo03.svg?raw";
import newsLogo04 from "@images/icons/company-logos/newsLogo04.svg?raw";
import newsLogo05 from "@images/icons/company-logos/newsLogo05.svg?raw";
import newsLogo06 from "@images/icons/company-logos/newsLogo06.svg?raw";
import newsLogo07 from "@images/icons/company-logos/newsLogo07.svg?raw";
import newsLogo08 from "@images/icons/company-logos/newsLogo08.svg?raw";
import newsLogo09 from "@images/icons/company-logos/newsLogo09.svg?raw";
import newsLogo10 from "@images/icons/company-logos/newsLogo10.svg?raw";

import CTAButton from "@components/ui/CTAButton.astro";
---

<section class="section-only-bottom">
  <div class="container">
    <div class="logos-wrapper">
      <h2 class="subtitle">Featured in</h2>
      <div class="logos-flex">
        <Fragment set:html={newsLogo01} />
        <Fragment set:html={newsLogo02} />
        <Fragment set:html={newsLogo03} />
        <Fragment set:html={newsLogo04} />
        <Fragment set:html={newsLogo05} />
        <Fragment set:html={newsLogo06} />
        <Fragment set:html={newsLogo07} />
        <Fragment set:html={newsLogo08} />
        <Fragment set:html={newsLogo09} />
        <Fragment set:html={newsLogo10} />
      </div>
      <div class="cta-button-float">
        <CTAButton
          text="Get all the Lastest News"
          href="/news"
          ariaLabel="The latest new articles featuring the Mushroom Dispensary"
        />
      </div>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".logos-wrapper",
      start: "top 80%",
    },
  });

  tl.from(".subtitle", {
    opacity: 0,
    y: 20,
    duration: 0.7,
    ease: "power2.out",
  }).from(
    ".logos-flex svg",
    {
      opacity: 0,
      y: 20,
      duration: 1.5,
      ease: "power2.out",
      stagger: 0.25,
    },
    "+=0.1",
  );
</script>

<style>
  .logos-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--sp-05);
    border-radius: var(--br-03);
    padding-inline: var(--sp-06);
    padding-block-start: var(--sp-07);
    padding-block-end: var(--sp-09);
    margin-block: var(--sp-05);
    box-shadow: var(--card-shadow-neutral-deep);
    border: var(--border-surface-dark-thin);
    background-color: oklch(from var(--color-neutral-600) l c h / 0.4);
    /* backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */
  }

  .logos-flex {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    column-gap: var(--sp-06);
    row-gap: var(--sp-05);
    flex-wrap: wrap;
  }

  .logos-flex :global(svg) {
    width: auto;
    height: 2rem;
  }
  .logos-flex :global(svg:nth-child(3)) {
    height: 3rem; /* CBC */
  }
  .logos-flex :global(svg:nth-child(4)) {
    height: 1.6rem; /* HuffPost */
  }
  .logos-flex :global(svg:nth-child(6)) {
    height: 2.5rem; /* Vancouver Sun */
  }
  .logos-flex :global(svg:nth-child(8)) {
    height: 4rem; /* Global News */
  }

  .cta-button-float {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
</style>
