---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  cityArea: string;
  address: string;
  storeHours: { days: string; hours: string }[];
  image: ImageMetadata;
  // href: string;
}

const {
  cityArea = "City Area",
  address = "420 Hastings St.",
  storeHours = [],
  image,
  // href = "/products",
} = Astro.props;
---

<div class="location">
  <div class="location-image">
    <Image src={image} loading="lazy" width={600} height={400} alt="location" />
  </div>
  <div class="location-text-block">
    <h3 class="text-location">{cityArea}</h3>
    <h4 class="text-address">{address}</h4>

    <div class="container-hours">
      {
        storeHours.map((s) => (
          <p class="text-hours">
            {s.days}: <span class="hours-time">{s.hours}</span>
          </p>
        ))
      }
    </div>
  </div>
</div>

<style>
  .location {
    display: flex;
    border-radius: var(--br-03);
    overflow: hidden;
    border: var(--border-photo-dark-thin);
    box-shadow: var(--card-shadow-neutral-deep);
  }
  .location-image {
    flex: 4 1 0;
    min-width: 0;
    height: 100%;
    border-right: var(--border-surface-color-thick);
    overflow: hidden;
  }

  .location-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .location-text-block {
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: var(--color-surface-light);
    color: var(--color-surface-light-text);
    padding-inline: var(--sp-07);
    padding-block: var(--sp-05);
  }

  .text-location {
    color: var(--color-surface-light-text-highlight);
    font-family: var(--font-display);
    font-size: var(--text-2xl);
    text-transform: uppercase;
    line-height: var(--leading-tight);
    text-box: trim-both cap alphabetic;
    margin-block-end: var(--sp-04);
    /* letter-spacing: var(--tracking-semiwide); */
  }
  .text-address {
    font-family: var(--font-body);
    font-size: var(--text-xl);
    margin-block-end: var(--sp-04);
    text-box: trim-both cap alphabetic;
    letter-spacing: var(--tracking-tight);
    font-variation-settings:
      "wdth" 87,
      "wght" 900;
  }
  .container-hours {
    display: flex;
    flex-direction: column;
  }
  .text-hours {
    font-family: var(--font-body);
    font-size: var(--text-lg);
    font-variation-settings:
      "wdth" 90,
      "wght" 750;
  }

  .hours-time {
    color: var(--color-surface-light-text-highlight);
  }
</style>
