---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import CTAButton from "./CTAButton.astro";
import FreeUserGuideIcon from "./FreeUserGuideIcon.astro";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  hasGuide: boolean;
  href: string;
}

const {
  title = "Mushroom Dispensary",
  description = "This is just default text!",
  image,
  hasGuide = false,
  href = "/products",
} = Astro.props;
---

<a class="card-wrapper" href={href}>
  <div class="product-card section--light">
    <div class="card-image">
      <Image src={image} loading="lazy" width={600} height={400} alt={title} />
    </div>
    <div class="card-text-body">
      <h3 class="card-title">{title}</h3>
      <p class="card-description">{description}</p>
    </div>
  </div>
  {
    hasGuide && (
      <div class="user-guide">
        <FreeUserGuideIcon />
      </div>
    )
  }
</a>

<style>
  .card-wrapper {
    display: block;
    position: relative;
    transform: translate(0, 0);
    transition: transform 150ms ease-in;
  }
  .card-wrapper:hover,
  .card-wrapper:focus-visible {
    transform: translate(-2px, -5px);
  }
  .card-wrapper:hover .card-title,
  .card-wrapper:focus-visible .card-title {
    color: var(--color-surface-light-text-highlight);
  }
  /* .card-wrapper:hover .user-guide,
  .card-wrapper:focus-visible .user-guide {
    filter: var(--art-shadow-color-medium);
  } */

  .product-card {
    display: flex;
    flex-direction: column;
    background: var(--color-surface-light);
    /* border: var(--border-photo-dark-thin); */
    border-radius: var(--br-03) 3rem var(--br-03) var(--br-03);
    height: 100%;
    overflow: hidden;
    box-shadow: var(--card-shadow-neutral-medium);
    transition: box-shadow 200ms ease-in-out;
  }
  .product-card:hover,
  .product-card:focus-visible {
    box-shadow:
      0 0 0 4px var(--color-neutral-600),
      var(--card-shadow-color-deep);
    border: none;
    /* border: var(--border-surface-color-thick); */
  }

  .card-image {
    height: auto;
    aspect-ratio: 4 / 3;
    border-bottom: var(--border-surface-color-thick);
    overflow: hidden;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .card-text-body {
    flex: 1;
    padding-block-start: var(--sp-06);
    padding-block-end: var(--sp-07);
    padding-inline: var(--sp-05);
  }

  .card-title {
    font-family: var(--font-display);
    font-size: var(--text-xl);
    margin-block-end: var(--sp-02);
    letter-spacing: var(--tracking-loose);
    line-height: var(--leading-tight);
    /* text-transform: uppercase; */
    text-wrap: balance;
    transition: color 200ms ease-in;
  }

  .card-description {
    font-family: var(--font-body);
    font-size: var(--text-lg);
    /* padding-inline-end: 2px; */
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-normal);
    font-variation-settings:
      "wdth" 100,
      "wght" 600;
    text-wrap: balance;
  }

  .user-guide {
    position: absolute;
    right: -18px;
    top: 38%;
    transform: rotate(15deg);
    filter: var(--art-shadow-neutral-medium);
    transition: filter 200ms ease-in;
  }
</style>
